*{
	margin: 0px;
	padding: 0px;
}
.cd-main{
	width: 80%;
	height: 200px;
	margin: 0px auto;
	padding-bottom: -80px;
}
.fy-main{
	width: 80%;
	margin: 0px auto;
}
.ac-table-f{
	padding-top: 15px !important;
	width: 120px;
}


