.center-b{
	width: 80%;
	margin: 0px auto;
}
.row{
	width: 90% !important;
	margin: 0px auto !important;
	padding: 30px 20px;
}
.center-ff{
	font-size: 100px;
	text-align: center;
	padding-top: 40px;
	cursor: pointer;
}

