*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

html {
	background:#D3D3D3;
    height: 100%;
}
.htmleaf-container{
	background:#D3D3D3 ;
}
#wrapper-sliderTv {
    position: absolute;
    left: 150px;
    width: 80%;
    height: 545px;
    overflow: hidden;
}

#sliderTV {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 900px;
    height: 500px;
}

.sliderTV__item {
    width: 300px;
    height: inherit;
    padding: 10px;
}

    .sliderTV__item img {
        width: 260px;
        height: 380px;
        cursor: pointer;
    }

    .sliderTV__item h1 {
        font-size: 20px;
        text-align: center;
        color: whitesmoke;
        position: relative;
        /* text-shadow: 1px 1px 2px rgba(20, 20, 20, 1); */
    }
@-webkit-keyframes  shineRed {
from { -webkit-box-shadow: 0 0 5px #bbb; }
50% { -webkit-box-shadow: 0 0 20px deeppink }
to { -webkit-box-shadow: 0 0 5px #bbb; }
}
.sliderTV--focus img {
	-webkit-animation-name: shineRed; 
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 2px 2px 40px -8px rgba(255,255,255,0.6);
    -moz-box-shadow: 2px 2px 40px -8px rgba(255,255,255,0.6);
    box-shadow: 2px 2px 40px -8px rgba(255,255,255,0.6);
}

.movie img {
    width: 280px;
}

.sliderTV__prev,
.sliderTV__next {
    font-size: 120px;
    color: rgb(128, 128, 128);
    cursor: pointer;
}

.sliderTV__prev {
    position: absolute;
    top: 110px;
    left: -100px;
    width: 50px;
}

.sliderTV__next {
    position: absolute;
    top: 110px;
    left: 950px;
    width: 50px;
}
