.services ul li .s_icons,
.services ul li h3{
	margin-bottom: 40px;
}
.wrapper{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
.services ul{
	list-style: none;
	display: block;
	margin: 100px 0;
	text-align: center;
	overflow: hidden;
}

.services ul li{
	float: left;
	width: 346px;
	margin-right: 80px;
}

.services ul li:last-child{
	margin-right: 0;
}
